Package: com.tokcs.worldpatcher
Name: TheWorldPatcher
Depends: mobilesubstrate
Version: 0.0.18
Architecture: iphoneos-arm
Description: Enhance WebView of TheWorld.
Maintainer: frah
Author: frah
Section: Tweaks
