Package: com.tokcs.worldpatcher
Name: TheWorldPatcher
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Enhance WebView of TheWorld.
Maintainer: frah
Author: frah
Section: Tweaks
